<div class="container">
  <div class="col-md-6 col-md-offset-3 well">
    <%= bootstrap_form_for(@location) do |f| %>
      <h2>Edit location information for <%= @location.name %></h2>
      <hr>
      <%= f.number_field :available_seats, options = {:min => 0}  %>
      <%= f.number_field :available_sockets, options = {:min => 0}  %>
      <%= f.text_field :wifi_password if @location.wifi %>
      <%= f.submit "Update" %>
    <% end %>
  </div>
</div>