<div class="container">
<p class="lead">These are the locations near you.</p>
<button id="switch-views" class="btn btn-default">List View</button>
<button id="filter-toggle" class="btn btn-default">Show Filters</button>

<div id="filter-div">
  <hr>
  <p class="lead" id="filter-toggle">Filters <span class="caret"></span></p>
  <div class="filters">
    <div>
      <%= image_tag("wifi.svg", class: 'button-wifi filter-icon img-responsive') %>
      <p class="text-center info-text">Wifi</p>
    </div>
    <div>
      <%= image_tag("air-conditioner.svg", class: 'button-aircon filter-icon img-responsive') %>
      <p class="text-center info-text">Air-Con</p>
    </div>
      <div>
      <%= image_tag("plug.svg", class: 'button-availsockets filter-icon img-responsive') %>
      <p class="text-center info-text">Sockets</p>
    </div>
      <div>
      <%= image_tag("coffee-cup.svg", class: 'button-coffee filter-icon img-responsive') %>
      <p class="text-center info-text">Coffee</p>
    </div>
      <div>
      <%= image_tag("speaker-1.svg", class: 'button-quiet filter-icon img-responsive') %>
      <p class="text-center info-text">Quiet</p>
    </div>
      <div>
      <%= image_tag("employees.svg", class: 'button-uncrowded filter-icon img-responsive') %>
      <p class="text-center info-text">Uncrowded</p>
    </div>
  </div>
  <br>
  <button class="button-clearfilters btn btn-default">Clear all filters</button>
</div>
<hr>

<div id="listCards"></div>

<div id="mapInputs">
  <input id="pac-input" class="controls" type="text" size="40" placeholder="Search another location!">
</div>

<div id="listMap"></div>

<%= javascript_include_tag 'views' %>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBAbRwB5MRYYe7V01n2_suO8lni8njzPYM&callback=initMap&libraries=places">
</script>

<script>
  let coffeeIcon = `
  <div class='col-xs-3'>
    <%= image_tag("coffee-cup.svg", class: 'info-icon img-responsive center-block') %>
    <p class='info-text text-center'>Coffee</p>
  </div>
  `
  let airconIcon = `
  <div class='col-xs-3'>
    <%= image_tag("air-conditioner.svg", class: 'info-icon img-responsive center-block') %>
    <p class='info-text text-center'>Air-Con</p>
  </div>
  `
  let socketsIcon = `
  <div class='col-xs-3'>
    <%= image_tag("plug.svg", class: 'info-icon img-responsive center-block') %>
    <p class='info-text text-center'>Sockets</p>
  </div>
  `
  let uncrowdedIcon = `
  <div class='col-xs-3'>
    <%= image_tag("employees.svg", class: 'info-icon img-responsive center-block') %>
    <p class='info-text text-center'>Uncrowded</p>
  </div>
  `
  let quietIcon = `
  <div class='col-xs-3'>
    <%= image_tag("speaker-1.svg", class: 'info-icon img-responsive center-block') %>
    <p class='info-text text-center'>Quiet</p>
  </div>
  `
  let wifiIcon = `
  <div class='col-xs-3'>
    <%= image_tag("wifi.svg", class: 'info-icon img-responsive center-block') %>
    <p class='info-text text-center'>Wifi</p>
  </div>
  `
</script>
