<p class="lead">These are the locations that you've saved.</p>
<%= link_to("Unwatch All Locations", unwatch_all_path(current_user.id), class: 'btn btn-default') %>
<hr>
<% @locations.zip(@saved_locations).each do |location, saved_location| %>
  <div class="panel panel-default">
    <div class="panel-body">
      <h3><%= link_to(location.name, location) %></h3>
      <p><%= location.vicinity %></p>
      <p class="label label-default"><%= "#{location.available_seats} seats available" %></p>
      <p class="label label-default"><%= "#{location.available_sockets} sockets available" %></p>
      <% if (location.available_seats.to_f / location.total_seats.to_f <= 0.2) %>
        <p class="label label-warning">Crowded</p>
      <% end %>
      <br>
      <br>
      <%= link_to("View Details", location_path(location), class: 'btn btn-default') %>
    </div>
    <div class="panel-footer">
      <% if saved_location.is_watched %>
        <%= link_to("Unwatch Location", watch_path(location), class: 'btn btn-default') %>
      <% else %>
        <%= link_to("Watch Location", watch_path(location), class: 'btn btn-default') %>
      <% end %>
      <%= link_to("Unsave Location", save_path(location), class: 'btn btn-default') %>
    </div>
  </div>
<% end %>
