<div class="panel panel-default">
  <div class="panel-heading">
      <h1><%= @location.name %></h1>
  </div>
  <div class="panel-body">
    <div class="col-md-4">
    <% if @location.cloudinary_link %>
      <img src='<%= @location.cloudinary_link %>' alt="" class='img-responsive img-rounded center-block'>
    <% else %>
      <img src="http://placehold.it/300x300" alt="" class='img-responsive img-rounded center-block'>
    <% end %>
      <hr>
    </div>
    <div class="col-md-8">
      <p class="lead"><%= @location.vicinity %></p>
      <p class="label label-default"><%= "#{@location.available_seats} seats available" %></p>
      <p class="label label-default"><%= "#{@location.available_sockets} sockets available" %></p>
      <% if (@location.available_seats.to_f / @location.total_seats.to_f <= 0.2) %>
        <p class="label label-warning">Crowded</p>
      <% end %>
      <hr>
      <table class="table">
        <thead>
          <tr>
            <th>Day</th>
            <th>Opening</th>
            <th>Closing</th>
          </tr>
        </thead>
        <tbody>
          <% @location.openingtimes.to_a.reverse_each do |opening| %>
            <tr>
              <td><%= opening.day %></td>
              <td><%= opening.opening_time.to_s(:time) %></td>
              <td><%= opening.closing_time.to_s(:time) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <p>Coffee: <span class="label label-default"><%= @location.coffee %></span></p>
      <p>Quiet: <span class="label label-default"><%= @location.quiet %></span></p>
      <p>Wifi: <span class="label label-default"><%= @location.wifi %></span></p>
      <p>Air-Con: <span class="label label-default"><%= @location.aircon %></span></p>
      <hr>
      <% if @location.wifi_name %>
        <div class="well">
          <strong>Wifi network:</strong>
          <p><%= @location.wifi_name %></p>
          <label for="fe_text">Password:</label>
          <div class="input-group">
            <input type="text" class="form-control" value='<%= @location.wifi_password %>' aria-label="..." id='wifi-password'>
            <div class="input-group-btn">
              <button class='my_clip_button btn btn-primary' data-placement='top' data-trigger='focus' data-clipboard-target='#wifi-password' data-clipboard-action='copy' id='d_clip_button'>Copy Password</button>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <% if @last_updated_user %>
    <p class="pull-left"><%= "Last updated by #{@last_updated_user.email} #{time_ago_in_words(@location.updated_at)} ago" %></p>
    <% end %>
    <%= link_to("Update Seats/Sockets", edit_location_path(@location), class: 'btn btn-default pull-right') %>
  </div>
</div>

<script>
$(document).ready(function(){
  let copyButton = document.getElementById('d_clip_button')
  let clip = new Clipboard(copyButton)

  $('#d_clip_button').tooltip({
    trigger: 'click',
    placement: 'bottom'
  })

  function setTooltip(btn, message) {
    $(btn).tooltip('hide')
      .attr('data-original-title', message)
      .tooltip('show')
  }

  function hideTooltip(btn) {
    setTimeout(function() {
      $(btn).tooltip('hide')
    }, 1000)
  }

  clip.on('success', function(e) {
    setTooltip(e.trigger, 'Copied!')
    hideTooltip(e.trigger)
  })

  clip.on('error', function(e) {
    setTooltip(e.trigger, 'Failed!')
    hideTooltip(e.trigger)
  })
})
</script>
