<div class="panel panel-default">
  <div class="panel-header">
    <h1><%= @location.name %></h1>
  </div>
  <div class="panel-body">
    <p><%= "#{@location.seats} seats available" %>
    <p><%= "#{@location.sockets} sockets available" %>
  </div>
</div>

<%= form_for @location do |f| %>
  <%= f.text_field :seats %>
  <%= f.text_field :sockets %>
  <%= f.submit 'update' %>
<% end %>

