<div class="panel panel-default">
  <div class="panel-heading">
      <h1><%= @location.name %></h1>
  </div>
  <div class="panel-body">
    <div class="col-md-4">
      <img src='<%= "https://maps.googleapis.com/maps/api/place/photo?maxwidth=400&photoreference=#{@location.google_photo_reference}&key=#{@API_key}" %>' alt="" class='img-responsive'>
    </div>
    <div class="col-md-8">
      <p>Opening hours: xxx</p>
      <p><%= @location.vicinity %></p>
      <hr>
      <p>Coffee: <span class="label label-default"><%= @location.coffee %></span></p>
      <p>Quiet: <span class="label label-default"><%= @location.quiet %></span></p>
      <p>Wifi: <span class="label label-default"><%= @location.wifi %></span></p>
      <p>Air-Con: <span class="label label-default"><%= @location.aircon %></span></p>
      <hr>
      <div class="well">
        <strong>Wifi network:</strong>
        <p>THE_WIFI_NETWORK</p>
        <label for="fe_text">Password</label>
        <div class="input-group">
          <input type="text" class="form-control" value='<%= @location.wifi_password %>' aria-label="..." id='fe_text'>
          <div class="input-group-btn">
            <button class='my_clip_button btn btn-primary' data-content='Copied!' data-placement='top' data-trigger='focus' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>Copy Password</button>
          </div>
        </div>
      </div>
      <p class="label label-primary"><%= "#{@location.available_seats} seats available" %></p>
      <p class="label label-primary"><%= "#{@location.available_sockets} sockets available" %></p>
      <% if (@location.available_seats.to_f / @location.total_seats.to_f <= 0.2) %>
        <p class="label label-warning">Crowded</p>
      <% end %>
    </div>
  </div>
  <div class="panel-footer clearfix">
    <% if @last_updated_user %>
    <p class="pull-left"><%= "Last updated by #{@last_updated_user.email} #{time_ago_in_words(@location.updated_at)} ago" %></p>
    <% end %>
    <%= link_to("Update Seats/Sockets", edit_location_path(@location), class: 'btn btn-default pull-right') %>
  </div>
</div>

<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
    $('#d_clip_button').popover()
    // $('#d_clip_button').click(() => {
    //   $('#d_clip_button').attr('title', 'Copied!').tooltip('fixTitle').tooltip('show')
    // });
  });
</script>
